.navbar {
    margin: auto;
    width: 70%;
    padding: 1%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border : 4px solid #555;
    overflow:visible;
    word-wrap:normal;
  }

  .nav {
      padding: 1%;
  }


  .brand{
    align-items: center;
    display: flex;
  }

  h4{
      padding:2%;
      font-size: 5.0vh;
  }